export MERAKI_API_KEY="your_meraki_api_key_here"

export org_name="your_org_name_here"

export vpn_hub_network_name="Datacenter"

export branch1_mx_serial="XXXX-XXXX-XXXX"
export branch1_ms_serial="XXXX-XXXX-XXXX"
export branch1_cw_serial="XXXX-XXXX-XXXX"

export branch2_mx_serial="XXXX-XXXX-XXXX"
export branch2_ms_serial="XXXX-XXXX-XXXX"
export branch2_cw_serial="XXXX-XXXX-XXXX"